# .gitignore

# dependencies
/node_modules

# Next.js build output
/.next
/out

# dotenv environment variables file
.env.local

# misc
.DS_Store
*.pem
*.log

# Testing
/coverage

# Production
/build

# OS files
Thumbs.db
.DS_Store